 /* -----------------------------
	Entropy Rising Stylesheet
	-----------------------------
	Author: 		Andrew Clayton
	Author URI: 	http://tamrielfoundry.com
	Updated:		11-20-2014
	Copyright(c):	2014 Andrew Clayton.  All rights reserved.
*/

span.er-name {	text-shadow: 0 0 10px #3F6;	}

/*--------------------------------------------------------------
	1.0 - HEADER
--------------------------------------------------------------*/
div#header-container {
	background-image: url("../images/backgrounds/er-bg-header.jpg");
	}

a#site-title {
	width: 540px;
	background-image: url("../images/headers/er-banner.png?ver=0.1");
	}

/*--------------------------------------------------------------
	2.0 - HOMEPAGE
--------------------------------------------------------------*/
.entropy-rising #showcase { margin: 0; }
#er-home-stats { margin-bottom: 0; }
#er-recruitment-status { margin: 1em 0; }

/* Guild Progression */
#er-progression-widget { 
	max-width: 300px; 
	float: none;
	overflow: hidden;
	margin: 0 auto 1em;
	}
ol.er-progression-list { 
	margin: 0;
	padding: 0;
	list-style: none;
	}
li.progression-item {
	width: 100%;
	height: 80px;
	position: relative;
	margin: 0.5em 0;
	border: 1px solid #000;
	border-radius: 2px;
	background-image: url("../images/backgrounds/er-progression.jpg?ver=0.1");
	box-shadow: 0 0 10px #000 inset;
	}
li.progression-item.aetherian { background-position: 0 0 ; }
li.progression-item.hel-ra { background-position: 0 -80px; }
li.progression-item.sanctum { background-position: 0 -160px; }
li.progression-item.dragonstar { background-position: 0 -240px; }
span.progression-name {
	display: block;
	position: absolute;
	top: 0;
	width: 70%;
	margin: 0 15%;
	padding: 0.25em 0.5em;
	font-family: 'Cinzel' , 'Palatino Linotype', 'Book Antiqua' , serif;
	text-align: center;
	text-shadow: 0 0 5px #000;
	background: rgba(0,0,0,0.7);
	border: 1px solid #000;
	border-top: none;
	box-shadow: 0 0 2px #333 inset;
	}
p.progression-status {
	width: 100%;
	position: absolute;
	bottom: 0;
	margin: 0;
	}
p.progression-status > span { 
	padding: 2px 0.5em;
	font-size: 0.875em;
	background: rgba(0,0,0,0.5);
	border-top: 1px solid #000;
	text-shadow: 1px 1px #000;
	box-shadow: 0 0 4px #000 inset;
	}
p.progression-status > span:first-child {
	float: left;
	text-align: left;
	border-right: 1px solid #000;
	}
p.progression-status > span + span {
	float: right;
	text-align: right;
	border-left: 1px solid #000;
	}
p.progression-status > span.complete { 
	color: #D1CBBC;
	background: #030;
	}
p.progression-status > span.incomplete {
	color: #A29C8E;
	background: #300;
	}

/* Calendar Widget */
#er-events-widget ol.calendar > li.event { padding: 0.25em 0; }
#er-events-widget .event-datetime {
	-webkit-flex: 1 1 120px;
	flex: 1 1 120px;
	margin: 0.25em 0;
	padding: 0.25em 0.5em;
	}
#er-events-widget .event-content {
	-webkit-flex: 1 1 180px;
	flex: 1 1 180px;
	margin: 0.25em 0;
	padding: 0.25em 0.5em;
	}

/* Recruitment Widget */
#er-recruitment-widget ul {	
	font-size: 0.875em; 
	padding: 0 0.5em;
	}


/*--------------------------------------------------------------
	3.0 - APPLICATION
--------------------------------------------------------------*/
#showcase.er-application-video { 
	-webkit-flex: 2 1 640px;
	flex: 2 1 640px;
	max-width: 640px;
	height: auto;
	margin: 0 1em;
	background: none; 
	border: none;
	box-shadow: none;
	}
.er-application-video > iframe {
	box-sizing: border-box;
	border: 1px solid #000;
	box-shadow: none;
	margin: 0.5em 0;
	padding: 0;
	}

.er-application-widgets { 
	max-width: 600px; 
	margin: 0;
	}
ul.er-status-list {
	margin: 0;
	padding: 0;
	list-style: none;
	}
ul.er-status-list > li { 
	padding: 0.5em 0; 
	border-bottom: 1px solid #000;
	}
ul.er-status-list > li + li { border-top: 1px solid #222; }
ul.er-status-list > li:last-child { border-bottom: none; }
ul.er-status-list span { 
	float: right; 
	}

span.status-open, span.status-high { color: #0A0; }
span.status-medium { color: #F90; }
span.status-low { color: #A00; }

/* Application Form */
#er-application-form { padding: 0 0.5em; }
#er-application-form div.form-flex {
	display: -webkit-flex;
	-webkit-flex-flow: row wrap;
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	margin: 0.5em 0;
	}
#er-application-form div.form-flex > label { 
	-webkit-flex: 1 1 250px;
	flex: 1 1 240px;
	max-width: 280px;
	}
#er-application-form label { line-height: 32px; }
#er-application-form div.form-flex > input, 
#er-application-form div.form-flex > select { 
	-webkit-flex: 1 1 200px;
	flex: 1 1 240px;
	max-width: 280px;
	}
#er-application-form input[type="radio"] { margin-left: 0.5em; }
#er-application-form ul.checkbox-list { padding-left: 1.5em; }
#er-application-form #confirm-rules { position: relative; }
#er-application-form #confirm-rules > label { 
	padding-left: 1.25em; 
	line-height: inherit;
	}
#er-application-form #confirm-rules > input[type="checkbox"] { position: absolute; }


/*--------------------------------------------------------------
	Z.0 - RESPONSIVE TWEAKS
--------------------------------------------------------------*/

/* Less then 460px */
@media (max-width: 619px) {
a#site-title {
	background-image: url("../images/headers/er-mini.png");
	background-position: 50% 50%;
	}
}