/**
 * Apocrypha Theme TinyMCE Editor Stylesheet
 * Andrew Clayton
 * Version 2.0
 * 7-24-2014
 */
 
/*--------------------------------------------------------------
	1.0 - IMPORT FONTS
--------------------------------------------------------------*/


	
/*--------------------------------------------------------------
	2.0 - NON STRUCTURAL ELEMENTS
--------------------------------------------------------------*/
 
body {
	min-height: 220px;
	margin: 0;
	padding: 15px 10px;
	position: relative;
	font-family: 'Verdana' , 'sans-serif';
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	color: #D1CBBC;
	background: #222;
	}

/* Paragraph */
p {
	margin: 0 0 1em;
	}

/* Lists */
ul,ol {
	margin: 0 0 1em;
	}

ul {
	list-style: square;
	padding: 0 0 0 2em;
	}

ol {
	list-style: upper-roman;
	padding: 0 0 0 2.5em;
	}

li > ul, li > ol {
	margin: 0;
	padding: 0 0 0 1.5em;
	}

/* Links */
a {
	color: #c5772b;
	text-decoration: none;
	-webkit-transition: color 0.2s;
	-moz-transition: color 0.2s;
	-ms-transition: color 0.2s;
	-o-transition: color 0.2s;
	transition: color 0.2s;
	cursor: pointer;
	}
a:hover { 
	color: #ffb14c; 
	}

/* Headers */
h1 {
	font-family: 'Palatino Linotype', 'Book Antiqua' , serif;
	font-size: 1.5em; 
	line-height: 1em;
	font-weight: bold;
	text-shadow: 1px 1px #000;
	text-transform: uppercase;
	margin-bottom: 0.5em; 
	}

h2 {
	font-family: 'Palatino Linotype', 'Book Antiqua' , serif;
	font-size: 1.25em;
	line-height: 1.25em;
	font-weight: bold;
	text-shadow: 1px 1px #000;
	margin-bottom: 0.5em; 
	}

h3 {
	font-family: 'Palatino Linotype', 'Book Antiqua' , serif;
	font-size: 1.25em;
	line-height: 1.25em;
	text-shadow: 1px 1px #000;
	text-transform: uppercase;
	margin-bottom: 0.5em;
	}

h4 {
	font-size: 1.125em;
	text-transform: uppercase; 
	text-shadow: 1px 1px #000;
	margin-bottom: 0.5em;  
	}

h5 {
	font-family: 'Palatino Linotype', 'Book Antiqua' , serif;
	font-size: 1.125em; 
	text-transform: uppercase; 
	text-shadow: 1px 1px #000;
	}

h6 {
	font-size: 0.875em;
	margin-bottom: 0; 
	}

/* Inflections */
em { font-style: italic; }
strong{ font-weight: bold; }

/* Quotes */
blockquote {
	width: 100%;
	float: left;
	position: relative;
	margin: 0 0 1em;
	padding: 0.5em 1em;
	font-family: 'Palatino Linotype' , 'Book Antiqua' , serif;
	font-size: 1em;
	color: #A29C8E;
	text-shadow: 1px 1px #000;
	background: rgba(17,17,17,0.25);
	}
blockquote > p { margin-bottom: 0.5em; }
blockquote > p:last-child { margin: 0; }

.quote {
	width: 75%;
	padding: 0.5em 1em;
	margin: 1em 0;
	position: relative;
	overflow: hidden;
	background: rgba(17,17,17,0.25);
	border: 1px solid #000;
	border-radius: 3px;
	box-shadow: 0 0 2px #333 inset;
	}
.quote > p.quote-author{ margin: 0; }
.quote > p.quote-author + * { display: none; }

/* Images */
img {
	display: block;
	box-sizing: content-box;
	max-width: 100%;
	max-height: 600px;
	width: auto;
	height: auto;
	margin: 0 auto;
	padding: 2px;
	border: 1px solid #000;
	border-radius: 2px;
	box-shadow: 0 0 2px #111;
	background: rgba(51,51,51,0.5);
	}

img.alignright, .wp-caption.alignright {
	float:right;
	clear: right;
	margin: 0 0 1em 1.5em;
	}
img.alignleft, .wp-caption.alignleft {
	float: left;
	clear: left;
	margin: 0 1.5em 1em 0;
	}
img.aligncenter, .wp-caption.aligncenter {
	margin: 0 auto 1em;
	}
img.noborder {
	background: none;
	border: none;
	box-shadow: none;
	}